<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Images classification</title>
  <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="jumbotron text-center">
        <!-- <div class="col-lg-4 col-md-4 col-sm-4 box-left"> -->
            <a class="navbar-brand" href="#"><img src="/static/images/background.jpeg"></a> 
            <!-- </div> -->
        <!-- <div class="col-lg-8 col-md-8 col-sm-8 box-right">    -->
          <h1 align = "center">Pet Images classification</h1>
        <!-- </div> -->
    </div>
    <img src = "../uploads/{{filename}}" height = 400px/>
    {% if answer =='dog' %}
    <h1>It is a dog.</h1>
    {% elif answer =='cat' %}
    <h1>It is a cat.</h1>
    {% elif answer =='bird' %}
    <h1>It is a bird.</h1>
    {% else %}
    <h1>ERROR</h1>
    {% endif %}
</body>
</html>

