.bg { 
    height: 50%; 
}

h3 {
    padding-bottom: 20px;
}

.jumbotron h1 {
    color: white;
}

img {
        position: relative;
        top: -40px;
        height: 150px;
        width: 300px;
      }

body {
    background-color: rgb(235, 231, 231);
}

.jumbotron{
    background-color: rgb(45, 100, 133);
}